@media screen and (max-width: 1200px){
    .slider-value {
        font-size: 10px
    }
}
@media screen and (max-width: 992px)
{
    .top-bar-left-block a, .top-bar-right-block > * {
        font-size: 12px;
    }
    .navigation-bar .segment > a {
        font-size: 14px;
    }
}
@media screen and (min-width:769px) and (max-width: 992px){
    
}
@media screen and (max-width: 768px)
{
   .top-bar, .delivery-advantages, .delivery-advantages + .separator, .search {
       display: none!important;
   }
   .logo-block {
    padding: 8px 12px;
   }
   .logo-block img {
    width: 146px;
   }
   .filters-bar h1 {
    font-size: 16px;
    letter-spacing: .5px;
   }
   .mobile-toggle-menu {
       display: block
   }
}
@media screen and (max-width: 576px){
    
}
@media screen and (max-width: 475px) {
    
}
@media screen and (max-width:400px)
{
    
}
@media screen and (max-width: 350px)
{
 
    
}
@media screen and (max-width:320px)
{
   
}