html {
    font-size: 14px;
}

body,html {
    height: 100%;
}

body {
    font-family: "VerlagBook", Arial,Verdana,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #100E31;
    background-color: #fff;
}
a {
    color: #100E31;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:focus, a:hover {
    color: #100E31;
    text-decoration: underline;
}

*[class*="icon-"] {
    transform: translateY(3px);
}

body {
    overflow-x: hidden;
}

a, i, span {
    display: inline-block;
    text-decoration: none;
}

a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ol, ul, li{
    list-style:none;
}

section {
    padding: 35px 0;
}

.section {
    padding: 35px 0;
}

canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    line-height: 1.1;
    color: #2c304d;
}
button:focus{
    outline: none
}
input.no-border {
    border: 0!important
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: inset 0 0 0px 9999px #37375c;
    caret-color: white
}
h1, .h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2, .h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3, .h3 {
    font-size: 1.35rem;
    font-weight: 500;
}

h4, .h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: 500;
}

h6, .h6 {
    font-size: 0.85rem;
    font-weight: 500;
}
.top-bar {
    letter-spacing: 0.12px;
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    line-height: 34px;
}
.phone-call > span, .fullhours > span {
    font-size: 18px;
}
.top-bar-left-block a, .top-bar-right-block > * {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}
.separator {
    margin: 0!important;
}
.separator:before {
    background-color: #100E31;
    position: relative;
    content: "";
    display: inline-block;
    height: 1.07143em;
    margin: 0 1px;
    vertical-align: text-bottom;
    width: 1px;
}
.country-block {
    display: inline-block;
}
.horizontal-separator {
    clear: both;
    border-bottom: 0px;
    border-top: 1px solid #ababab;
    margin: 0
}
.actionbar-button {
    background: transparent;
    border:0;
    font-weight: 300;
    padding: 0;
    cursor: pointer;
}
.actionbar-button img {
    display: inline-block;
    position: relative;
    top: -2px;
    left: -2px;
    line-height: 0;
}
.actionbar-button:after {
    display: none;
}
.logo-block {
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: none;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
}
.logo-block img {
    width: 188px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.delivery-advantages {
    padding: 8px;
}
.search-container {
    font-weight: 300;
    font-size: 16px
}
.search {
    display: inline-block;
}
#basket {
    display: inline-block;
}
#basket i {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    font-size: 24px;
    padding: 5px 8px 5px 0;
}
.navigation-bar {
    line-height: 19px;
    display: table;
    width: 100%;
    position: relative;
}
.navigation-bar .segment {
    display: table-cell;
    position: relative;
    font-family: "VerlagBook",Arial,Helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #BDBDBD;
    width: 5%;
    vertical-align: bottom;
    line-height: 19px;
}
.navigation-bar .segment > a {
    display: block;
    width: 100%;
    padding: 10px 19px 9px 19px;
    font-size: 16px;
    letter-spacing: 0.76px;
    border-bottom: solid 1px #95989A;
}
#navigation-menu {
    display: block;
    position: relative;
}
#navigation-menu .blue-bar {
    position: absolute;
    height: 5px;
    background-color: #182852;
    width: 0;
    bottom: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: left,width;
}