
.mobile-button-menu {
    color:#0024d6;
    padding: 3px 6px;
    border: 1px solid #0024d6;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    line-height: 1px
}

.sandwich {
    width: 28px;
    height: 28px;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200; }
  
.sw-topper {
    position: relative;
    top: 3px;
    width: 28px;
    height: 3px;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
            transition: transform 0.5s, top 0.2s;
    display: block; }
  
  
  .sw-bottom {
    position: relative;
    width: 28px;
    height: 3px;
    top: 6.6px;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
            transition: transform 0.5s, top 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
            transition-delay: 0.2s, 0s; }
  
  .sw-footer {
    position: relative;
    width: 28px;
    height: 3px;
    top: 10.5px;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  
  .mobile-button-menu.toggle .sw-topper {
    top: 13px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .mobile-button-menu.toggle .sw-bottom {
    top: 7px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .mobile-button-menu.toggle .sw-footer {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  